<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>News</title>
</head>
<body>

    <div class="header-nav pt-4 pb-4 mb-5">
        <div class="container px-2">
            <header class="">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 text-md-left text-center">
                            <h1 class="logo d-md-flex justify-content-center"><a href="/">News Website</a></h1>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <div class="question-container">
                    <h1 class="question">Which drink do you prefer?</h1>
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option1">
                    <button onclick="parserFromQAnswer1(this)" class="btnAnswer1">
                        <img src="https://www.bhg.com/thmb/Dw9Sxcivh_bczUpo91Egapy-lGc=/7952x0/filters:no_upscale():strip_icc()/feshly-brewed--latte-coffee-on-a-white-table-1434303312-4d24a51e3bc748d68553a836499d0100.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="0" class="card-text">Coffee</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option1">
                    <button onclick="parserFromQAnswer1(this)" class="btnAnswer1">
                        <img src="https://www.foodandwine.com/thmb/6wTm7a0y87X97LK-ZMxe2787kI8=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/different-types-of-tea-FT-BLOG0621-7c7fd231e66d4fea8ca9a47cad52ba79.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="1" class="card-text">Tea</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option1">
                    <button onclick="parserFromQAnswer1(this)" class="btnAnswer1">
                        <img src="https://media.istockphoto.com/id/156152863/photo/fresh-fruit-juices.jpg?s=612x612&w=0&k=20&c=SSBdHBBUW5VhAmgVd_5wdyWbhcZWp7FmnLJC-Zo0mtM=" class="card-img-top w-100" style="width: 400px; height: 300px;" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="2" class="card-text">Juice</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option1">
                    <button onclick="parserFromQAnswer1(this)" class="btnAnswer1">
                        <img src="https://www.shutterstock.com/image-photo/soft-drinks-fruit-juice-mixed-600nw-2326303137.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="3" class="card-text">Soda</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <div class="question-container">
                    <h1 class="question">Which painting will you choose?</h1>
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option2">
                    <button onclick="parserFromQAnswer2(this)" class="btnAnswer2">
                        <img src="https://storage.googleapis.com/pod_public/1300/181438.jpg" >
                        <div class="card-body text-center">
                            <p id="4" class="card-text">Nature painting</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option2">
                    <button onclick="parserFromQAnswer2(this)" class="btnAnswer2">
                        <img src="https://img.freepik.com/premium-photo/colorful-futuristic-landscape-another-planet_835692-317.jpg" class="card-img-top w-100">
                        <div class="card-body text-center">
                            <p id="5" class="card-text">Abstract drawing</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option2">
                    <button onclick="parserFromQAnswer2(this)" class="btnAnswer2">
                        <img src="https://cdn.britannica.com/24/189624-131-BAF1184D/Mona-Lisa-oil-wood-panel-Leonardo-da.jpg" class="card-img-top w-100">
                        <div class="card-body text-center">
                            <p id="6" class="card-text">Portrait of a person</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option2">
                    <button onclick="parserFromQAnswer2(this)" class="btnAnswer2">
                        <img src="https://render.fineartamerica.com/images/rendered/search/print/8/6/break/images-medium-5/ny-city-brooklyn-bridge-ii-ylli-haruni.jpg">
                        <div class="card-body text-center">
                            <p id="7" class="card-text">Cityscape</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <div class="question-container">
                    <h1 class="question">What clothes do you prefer?</h1>
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option3">
                    <button onclick="parserFromQAnswer3(this)" class="btnAnswer3">
                        <img src="https://www.insidehook.com/wp-content/uploads/2020/01/tracksuitsbitch.jpg?fit=1200%2C800" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="8" class="card-text">Tracksuit</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option3">
                    <button onclick="parserFromQAnswer3(this)" class="btnAnswer3">
                        <img src="https://366e203a.rocketcdn.me/wp-content/uploads/2019/09/business-suit-2.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="9" class="card-text">Business suit</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option3">
                    <button onclick="parserFromQAnswer3(this)" class="btnAnswer3">
                        <img src="https://www.dmarge.com/wp-content/uploads/2015/03/ryan-gosling-denim-jacket-960x620.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="10" class="card-text">Casual clothes</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option3">
                    <button onclick="parserFromQAnswer3(this)" class="btnAnswer3">
                        <img src="https://cdn.greenvelope.com/blog/wp-content/uploads/couple-wearing-70s-theme-party-outfits.jpeg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="11" class="card-text">Party outfit</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <div class="question-container">
                    <h1 class="question">Which dish do you like the most?</h1>
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option4">
                    <button onclick="parserFromQAnswer4(this)" class="btnAnswer4">
                        <img src="https://cdn.tescoma.com/content/wysiwyg/CZ_B2C/Blog/2023/pizza%20margherita/800x-pizza-margharerita.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="12" class="card-text">Pizza</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option4">
                    <button onclick="parserFromQAnswer4(this)" class="btnAnswer4">
                        <img src="https://ripe.london/wp-content/uploads/2021/09/healthy-salad-recipes-for-weight-loss.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="13" class="card-text">Salad</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option4">
                    <button onclick="parserFromQAnswer4(this)" class="btnAnswer4">
                        <img src="https://www.gotovimnaogne.ru/upload/iblock/68b/68b534d5c682f60d3430a701d93d696e.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="14" class="card-text">Steak</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option4">
                    <button onclick="parserFromQAnswer4(this)" class="btnAnswer4">
                        <img src="https://mykaleidoscope.ru/x/uploads/posts/2022-09/1663750496_29-mykaleidoscope-ru-p-italyanskaya-pasta-yeda-oboi-56.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="15" class="card-text">Pasta</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container mb-5">
        <div class="row mb-5">
            <div class="col">
                <div class="question-container">
                    <h1 class="question">What will you choose?</h1>
                </div>
            </div>
        </div>
        <div class="row mb-5 d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option5">
                    <button onclick="parserFromQAnswer5(this)" class="btnAnswer5">
                        <img src="https://www.indiewire.com/wp-content/uploads/2019/10/BoJack_Horseman_S06E01_0m19s463f.jpg?w=600&h=400&crop=1" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="16" class="card-text">Horse</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option5">
                    <button onclick="parserFromQAnswer5(this)" class="btnAnswer5">
                        <img src="https://img.freepik.com/premium-photo/futuristic-car-streets-city_1268-24114.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="17" class="card-text">Car</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-4">
                <div class="card option5">
                    <button onclick="parserFromQAnswer5(this)" class="btnAnswer5">
                        <img src="https://s3.amazonaws.com/oceantents.com/wp-content/uploads/2013/04/23122806/IMG_5543-removebg-preview.png" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="18" class="card-text">Table</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card option5">
                    <button onclick="parserFromQAnswer5(this)" class="btnAnswer5">
                        <img src="https://mykaleidoscope.ru/uploads/posts/2022-07/1658190267_40-mykaleidoscope-ru-p-kover-dizain-krasivo-foto-41.jpg" class="card-img-top w-100" style="width: 400px; height: 300px;">
                        <div class="card-body text-center">
                            <p id="19" class="card-text">Carpet</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container text-center mb-5">
        <button class="endTest">
            Finish test
        </button>
    </div>
    


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>